<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create KTP</title>
</head>
<body>
  <div>Create Dummy</div>
  <hr>
  <form action="/newData" method="post" enctype="multipart/form-data">
    <table>
      <tr>
        <td>ID</td>
        <td><input type="text" name="id" id="id"></td>
      </tr>
      <tr>
        <td>Tanggal Lahir</td>
        <td><input type="date" name="tanggal" id="tanggal"></td>
      </tr>
      <tr>
        <td>Foto</td>
        <td><input accept="image/*" type="file" name="gambar" id="gambar"></td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit">Kirim</button></td>
      </tr>
    </table>
  </form>
  
</body>
</html>